html,
body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#video-holder {
  max-height: 70vh;
  position: relative;
}

ul {
  margin: 0;
}
